body {
  background-image: url('dotted-world-map.png');
}

div {
  margin: 10px;
  padding: 3px;
}

.text {
  color:white;
  font-family: Tahoma, Geneva, sans-serif;
}

#take-me-there {
  margin: 10px;
  padding: 3px;
}

